.errorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.errorMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 90px;
}
p{
    font-size: larger;
    font-size: 45px;
}

.homelink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.homelink:hover {
    background-color: #0056b3;
}
